data_RKI/cwa_statistics.ods
data_RKI/cwa_statistics_tests.ods
data_RKI/cwa_hotline_statistics.ods
data_CWA/app_config/*.zip
data_CWA/*.zip
data_CWA/stats_scripts/__*
data_CWA_hourly/*/*zip
data_EUR_CWA/*.zip
data_EUR_CWA_hourly/*/*zip

# temporarily disabled
plots_de/plot_jhu_cwa_cases.png
plots_de/plot_jhu_cwa_cases_7d.png
plots_de/plot_num_users_per_week.png
plots_de/plot_rki_cwa_per_week.png
plots_en/plot_jhu_cwa_cases.png
plots_en/plot_jhu_cwa_cases_7d.png
plots_en/plot_num_users_per_week.png
plots_en/plot_rki_cwa_per_week.png
