name: daily update

on:
  push:
    branches:
      - master
  schedule:
    - cron: "15 0 * * *"

jobs:
  update_page:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
        with:
          persist-credentials: false
          fetch-depth: 0
      
      - name: install gnuplot and font
        run: sudo apt-get install gnuplot fonts-linuxlibertine
    
      - name: checkout project
        uses: actions/checkout@v2
        with:
          path: main

      - name: checkout parser tool
        uses: actions/checkout@v2
        with:
          repository: mh-/diagnosis-keys
          path: diagnosis-keys

      - name: set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'

      - name: install requirements
        working-directory: main
        run: pip install -r requirements.txt

      - name: install tool requirements
        working-directory: diagnosis-keys
        run: pip install -r requirements.txt

      - name: run main job
        working-directory: main
        run: bash update_all.sh
        
      - name: git commit
        working-directory: main
        run: |
          git config --local user.email "boehme.mic@gmail.com"
          git config --local user.name "micb25"
          git add plot*png data_RKI/*.csv daily_data/*.json daily_data/*.csv daily_data/*.dat
          git commit -m "daily update (automatic)" -a
        
      - name: push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          
